<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header class="">
        <a href="/article">   <!-- GET request on /books/ -->
            <h2 class="">Article</h2>
        </a>
    </header>
    <div class="">
        <h1 class=""> <%= article.title %> </h1> 
        <h2 class=""> <%= article.author %> </h2>
        <p class=""> <%= article.description %> </p>
        <% article.tag.forEach(tag => { %>   <!-- tags is an [ ] object so we use forEach -->
            <span class=""> <%= tag %> </span>
        <% }) %>
        <h3 class="">likes: <%= article.like ? article.like : 0 %> </h3>
        <a href="/article/<%= article.id %>/likes">
            <button class=""> Like </button>
        </a>
        <a href="/article/<%= article.id %>/dislikes">
            <button class=""> Dislike </button>
        </a>
        <div class="">
            <a href="/article/<%= article.id %>/edit">
                <button class=""> Edit</button>
            </a>
            <a href="/article/<%= article.id %>/delete">
                <button class=""> Delete </button>
            </a>
        </div>
    </div>
</body>
</html>
